<body>
    <div class="logoHome"></div>
    <div class="generalContainer">
        <input class="inputName" type="text" placeholder="name" (change)="onChangeName($event)">
    </div>
    <div class="generalContainer">
        <label class="radioOption">
            <input class="radio" id="c" name="c" type="radio" (click)="onChange(true)" [checked]="this.payload.temp">
            <label for="c">°C</label><br>
        </label>
        <label class="radioOption">
            <input class="radio" id="f" name="f" type="radio" (click)="onChange(false)" [checked]="!this.payload.temp">
            <label for="f">F</label>
        </label>
    </div>
    <div class="generalContainer" (click)="onSubmit('start')">
        <button class="startButton">Start</button>
    </div>
    <div class="generalContainer" (click)="onSubmit('about')">
        <button class="about">?</button>
    </div>
</body>